extends ../layouts/base

block seo
	title Уход за двигателем в зимнее время
	meta(name="description" content="")

block main-content
	.main-layout
		.main-layout__info
			section.article
				.article__wrap
					h1.article__title
						| Уход за двигателем в зимнее время
					.article__body
						p В связи с тем, что в зимнее время года системы автомобиля работают в сложных (экстремальных) условиях , необходимо заблаговременно подготовить двигатель автомобиля к с суровым зимним условиям эксплуатации.

						p Конечно, как вариант, можно произвести замену масло с зимним индексом 0W или 5W, что естественно даст определенный положительны эффект на пусковые характеристики, но и у этого решении есть недостаток т.к. даже у качественного синтетического масла с высоким индексом вязкости (пологой температурной зависимостью) при высоких температурах снижется несущая способность. А у прогретого двигателя температура стенок цилиндра и зимой и летом одинаковая (при исправной системе охлаждения). Таким образом, улучшая пусковые характеристики, мы всё равно подвергаем двигатель повышенным износам при больших нагрузках.

						p Для решения данного вопроса наиболее эффективный способ - использование ММПТ «Fe-do». Минеральный Модификатор Поверхности Трения «Fe-do», это катализатор или инициатор процессов самоорганизации системы, результатом которых является формирование сложной защитной структуры на поверхностях пар трения. Использование ММПТ «Fe-do» помогает сформировать на поверхности пар трения новую аморфную структуру, которая формируется в первую очередь в наиболее нагруженных зонах. Этот слой в 10 раз лучше основы, на которой он сформировался по маслоудерживающей способности и антифрикционным свойствам.

						p Благодаря высокой маслоудерживающей способности новой поверхности масло постоянно остается плотным слоем на поверхностях пар трения. Поэтому пуск холодного двигателя всегда происходит в условиях необходимой смазки. Так же , высокие антифрикционные свойства поверхности (снижение механических потерь на 15% и более ) позволяют увеличить пусковые обороты прокрутки двигателя. Дополнительным положительным фактором к уже выше перечисленным является повышение газоплотности цилиндров , что ведет к увеличению давления и температуры в конце такта сжатия , за счет маслоудерживающей способности и частичной компенсации износа гильзы. Все эти факторы в сумме защищает двигатель от повышенного износа, а так же приводит к улучшению условий запуска двигателя в земнее время года.

						p Повышение компрессии после применения ММПТ “ Fe-do» благоприятно влияет не только на пуск двигателя, но и к улучшению качества сгорания топлива, снижению его расхода и улучшению экологических показателей при эксплуатации двигателя во все времена года.

					.article__cta
						| Подпишитесь на нас в социальных сетях и узнавайте новости первыми!

					ul.section-contacts__socials.section-contacts__socials--in-column
						li.section-contacts__socials-item
							a(href="https://vk.com/club150207097" target="_blank")
								img(src="static/img/icons/social-vk.svg")
								span vk.com

						li.section-contacts__socials-item
							a(href="#")
								img(src="static/img/icons/social-youtube.svg")
								span youtube.com

						li.section-contacts__socials-item
							a(href="#")
								img(src="static/img/icons/social-drive2.svg")
								span drive2.ru

		include ../blocks/main-nav--article.pug
