extends ../layouts/base

block seo
	title Fe-do - Ошибка платёжа!
	meta(name="description" content="Ответим в ближайшее время!")

block main-content
	.main-layout
		.main-layout__info
			section.main-screen.main-screen--fullscreen#main
				.main-screen__wrap

					article.main-screen__content
						h1.main-screen__title
							| Платёж отменён.
						.main-screen__msg
							p.main-screen__msg-item
								| Если это произошло по ошибке,&nbsp;
								a(href="./buy.html") попробуйте снова
								| &nbsp;или свяжитесь с нами по телефону
								br
								a(href="+78129227945") +7 812 922-79-45
								| &nbsp;или в одной из соц сетей

							ul.section-contacts__socials.section-contacts__socials--in-column
								li.section-contacts__socials-item
									a(href="https://vk.com/club150207097" target="_blank")
										img(src="static/img/icons/social-vk.svg")
										span vk.com

								li.section-contacts__socials-item
									a(href="#")
										img(src="static/img/icons/social-youtube.svg")
										span youtube.com

								li.section-contacts__socials-item
									a(href="#")
										img(src="static/img/icons/social-drive2.svg")
										span drive2.ru

							a.main-screen__msg-item.main-screen__msg-item--akcent-color.main-screen__msg-item--align-right(href="./")
								| Вернуться на главную

					.main-screen__img
						img(src="static/img/main-screen/product.png" alt="Fe-do")

			include ../blocks/popup.pug

		include ../blocks/main-nav--subpage.pug
