extends ../layouts/base

block seo
	title Fe-do - присадка для двигателя японского производства
	meta(name="description" content="Безвредная присадка, показавшая измеримую пользу в результате испытаний.")

block main-content
	.main-layout
		.main-layout__info
			include ../blocks/main-screen.pug
			include ../blocks/section-customers.pug
			include ../blocks/section-adv.pug
			include ../blocks/section-test.pug
			include ../blocks/section-how-it-works.pug
			include ../blocks/section-get-instruction.pug
			include ../blocks/section-reviews.pug
			include ../blocks/section-contacts.pug
			include ../blocks/popup.pug

		include ../blocks/main-nav.pug
