section.main-screen#main
	.main-screen__wrap

		article.main-screen__content
			h1.main-screen__title
				| Присадка для двигателя, которая работает
			.main-screen__msg
				p.main-screen__msg-item
					| Минеральная присадка Fe-do совместного производства с Японией показала конкретные положительные результаты в полевых и лабораторных испытаниях. Она образует защитный слой на повехностях трения, замедляет износ и улучшает показатели двигателя.
				a.main-screen__msg-item.main-screen__msg-item--akcent-color.main-screen__msg-item--align-right.js--show-consult-popup(href="#")
					| Получить бесплатную консультацию
				a.btn(href="./buy.html" onclick="yaCounter48100769.reachGoal('BUY'); return true;")
					| Купить Fe-do за 1800 рублей

		.main-screen__img
			img(src="static/img/main-screen/product.png" alt="Fe-do" )
