section.section-contacts#contacts
	.section-contacts__wrap
		h3.section-contacts__title
			| Доставка
			small Два варианта доставки:

		.section-contacts__delivery
			.section-contacts__delivery-item
				p
					| Курьером
					br
					| По Санкт-Петербургу&nbsp;
					em 250 руб
				p
					| Почта России
					br
					| По России и СНГ&nbsp;
					em 300 руб

			.section-contacts__delivery-item
				p
					| Либо можете забрать товар сами полюбому из адресов&nbsp;
					a.js--jump(href="#map") пунктов выдачи

		h3.section-contacts__title
			| Контакты

		ul.section-contacts__info
			li
				| Телефон&nbsp;
				a(href="tel:") +7 812 922-79-45
			li
				| Санкт-Петербург, ул. 10-я Советская, д. 15/27, индекс 193144
			li
				| E-mail&nbsp;
				a(href="mailto:") npfkarat@gmail.com
			li
				| Часы работы&nbsp;
				em 11:00 - 19:00

		.section-contacts__map#map
			.section-contacts__map-map
				script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6dffaebfb04d7e782d76628cea86f4fd5e3379aab18b3a2fa712a46ef17c4246&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp")

			.section-contacts__map-address
				p Принимаем оплату по карте и наложенным платежом. Либо наличными при доставке курьером и в пунктах выдачи:

				ul
					li б. Новаторов 67к2
					li пр-т Народного Ополчения 10, офис 221Н
					li Кронштадтская 11
					li Алтайская 3, офис 10
					li Московское шоссе 7, ТЦ "Торговый Двор"
					li Балканская площадь 5, ТК "Домострой" секция 22
					li пр-т Обуховской обороны 120Б
					li Полярников 12
					li Белы-Куна 20к1, офис 40
					li пр-кт Юрия Гагрина 2, ТЦ "Благодатный"
					li Крыленко 21к1
					li Подольская 31
					li пр-кт Лиговский 50к13, офис 100а
					li Ефимова 4А, офис 200
					li Чайковского 34
					li Одоевского 28
					li Плуталова 8А
					li пр-кт Энергетиков 9А
					li Комиссара Смирнова 5/2 А, помещение 11
					li Торфяная дорога, 2к1 А
					li пр-кт Комендантский 4к2, секция 001
					li пр-кт Коломяжский 28к2, офис 14
					li пр-кт 2ой Муринский 38А,  ТЦ "Клондайк" 1 этаж 66 секция
					li пр-кт Гражданский 84, офис 15Н
					li пр-кт Лиговский 13, офис 100Б

		footer.section-contacts__footer

			ul.section-contacts__socials
				li.section-contacts__socials-item
					a(href="https://vk.com/club150207097" target="_blank")
						img(src="static/img/icons/social-vk.svg")
						span vk.com

				li.section-contacts__socials-item
					a(href="#")
						img(src="static/img/icons/social-youtube.svg")
						span youtube.com

				li.section-contacts__socials-item
					a(href="#")
						img(src="static/img/icons/social-drive2.svg")
						span drive2.ru

		.section-contacts__bottom
			p ООО "СЗВК НПФ Карат"


