section.section-get-instruction
	.section-get-instruction__wrap
		h3.section-get-instruction__title
			| Получите инструкцию по применению
		.section-get-instruction__form
			a.btn.btn--akcent(type="submit" href="https://drive.google.com/file/d/1Q4iJOahgG6qFcBpPjNT1Hr6hFPvpUQjr/view?usp=sharing" target="_blank" onclick="yaCounter48100769.reachGoal('READ'); return true;") Скачать инструкцию
