section.section-how-it-works
	.section-how-it-works__wrap
		h3.section-how-it-works__title
			| Как работает Fe-do

		ul.section-how-it-works__list
			li.section-how-it-works__item
				p Очищает металл от грязи

			li.section-how-it-works__item
				p Вступает с ним в химическую реакцию

			li.section-how-it-works__item
				p Образует защитный поверхностный слой

			li.section-how-it-works__item
				p Восстанавливает повреждения и уменьшает износ
