section.section-adv#effects
	.section-adv__wrap
		h2.section-adv__title
			| Fe-do вызывает

		ul.section-adv__list
			li.section-adv__item
				.section-adv__item-descr
					b Замедление износа двигателя более чем в 2 раза
					p Состав образует защитный слой на поверхности металла, принимающий на себя трение и воздействие температур

			li.section-adv__item
				.section-adv__item-descr
					b Восстановление повреждённых деталей
					p Образуемый поверхностный слой перекрывает микротрещины и царапины, образуемые в процессе работы механизма

			li.section-adv__item
				.section-adv__item-descr
					b Уверенный запуск двигателя в холодное время
					p Благодаря высокой маслоудерживающей способности образуемой поверхности масло постоянно остается плотным слоем на поверхностях пар трения

			li.section-adv__item
				.section-adv__item-descr
					b Предотвращение последствий износа двигателя
					p Экономия на капитальном ремонте, замене запчастей и ТО

		.section-adv__comment
			p Информация основана на результатах полевых и лабораторных испытаний. К концу 2017 года 637 машин обработано составом Fe-do. У каждой замечены положительные эффекты после применения.
			p В отличие от аналогов, Fe-do не нуждается в высоких температурах и давлении для формирования защитного слоя. Вместо этого, он формирует слой благодаря взаимодействию с поверхностью. Чем больше площадь поверхности, тем быстрее протекает процесс. Повреждения увеличивают площадь поверхности, значит, чем их больше, тем лучше работает Fe-do. Это преимущество особенно актуально зимой.
			p
				a.js--show-img-popup(href="#")
					| Посмотрите фотографии процесса формирования защиты под микроскопом.
