section.section-reviews#reviews
	.section-reviews__wrap
		h2.section-reviews__title
			| Отзывы

		.section-reviews__swiper.swiper-container
			.swiper-wrapper

				.swiper-slide
					article.section-reviews__review
						h4.section-reviews__review-title
							| Уменьшился шум двигателя
						p
							| Залил в двигатель состав «Fe-do». Очень доволен. Движок стал работать ровнее и тише, расход топлива уменьшился в среднем на 8-10% в зависимости от темпа движения.

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 5

					article.section-reviews__review
						h4.section-reviews__review-title
							| Увеличилась компрессия, снизился штатный расход топлива
						p
							| Здравствуйте! У меня Ford F-150 2010 года, до обработки компрессия в цилиндрах была соответственно: 10, 9.4, 9.7, 9.8 ,9.8, 9.6, 9.7, после обработки составом «Fe-do» компрессия увеличилась до 10.5, 10.5, 10.5, 10.5, 10.6, 10.7, 10.6, 10.5.
						p
							| Штатный расход топлива снизился до 8,5 л (был 13л). Двигатель стал работать заметно ровнее и тише. Результатом доволен, всем советую!

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 5

				.swiper-slide
					article.section-reviews__review
						h4.section-reviews__review-title
							| Ускорение двигателя и уменьшение расхода топлива
						p
							| У меня пикап Ford F-350 11-го года выпуска, до обработки расход топлива по трассе был 11л на 100км, после проведения обработки расход стал 7л. На 100км. Также ощутил увеличение мощности. Автомобиль стал разгоняться до 100км/ч. За 6 секунд!!

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 5

					article.section-reviews__review
						h4.section-reviews__review-title
							| Восстановление работы цилиндра
						p
							| Chevrolet Astro. Плохо работал один из цилиндров, были проблемы с компрессией, сразу после обработки присадкой «Fe-do» он заработал (6-ой цилиндр).
						p
							| Спустя какое-то время заметно снизился расход топлива примерно на 15%. Пропал неприятный запах из выхлопной трубы. Двигатель работает значительно тише. В дальнейшем буду использовать исключительно эту присадку.

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 5

				.swiper-slide
					article.section-reviews__review
						h4.section-reviews__review-title
							| Двигатель стал работать ровнее и тише
						p
							| После первого этапа приработки уже были заметны изменения, двигатель стал работать ровнее и тише. Посмотрим, что будет дальше! ( ВАЗ 2104 2002-го года)

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item
								| 5

					article.section-reviews__review
						h4.section-reviews__review-title
							| Уменьшение выделений картерных газов
						p
							| Сомневался в эффективности присадок, поэтому отвез машину в автосервис, чтобы сделать замеры. Замеряли картерные газы, до обработки прибор показал 130л/мин., после обработки данной присадкой стало выделяться всего лишь 50л/мин., что говорит о том, что двигатель восстановился и улучшилось качество моторного масла!
						p
							| Отличный результат… ко всему прочему, заметил, что автомобиль стал мощнее и есть меньше топлива. (SsangYong Action 2012 года)

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item
								| 5

				.swiper-slide
					article.section-reviews__review
						h4.section-reviews__review-title
							| Вернулись паспортные характеристики двигателя
						p
							| Провели замеры. Давление сжатия по цилиндрам выровнялось и достигло паспортных значений! Не ожидал такого хорошего результата.
						p
							| Автомобиль стал есть меньше масла, облегчился пуск в холодное время, стал расходовать меньше топлива. (Volkswagen Tiguan дизель)

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 5

					article.section-reviews__review
						h4.section-reviews__review-title
							| Заявленные эффекты достигнуты
						p
							| Это реально работает. Все соответствует описанию. Компрессия увеличилась. Компенсаторы перестали стучать при пуске. Шум двигателя пропал. Снизилась вибрация и расход масла. Спасибо. (BAW 2014-го года выпуска, Объем двигателя 3068 см3)

						ul.section-reviews__marks
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 1
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 2
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 3
							li.section-reviews__marks-item.section-reviews__marks-item--active
								| 4
							li.section-reviews__marks-item
								| 5

			.swiper-pagination

		h3.section-reviews__title
			| Видео

		article.section-reviews__smi
			a.section-reviews__smi-img.js--show-video-popup(href="#")
				img(src="static/img/section-reviews/video-fedo.jpg" alt="альт сми")
				.section-reviews__smi-text
					span Применение Fe-do
						img(src="static/img/icons/play.svg" width="60")

		h3.section-reviews__title
			| Статьи

		.section-reviews__articles
			article.section-reviews__articles-item
				a.section-reviews__articles-title(href="./blog-zima.html")
					| Уход за двигателем в зимнее время
				p.section-reviews__articles-descr
					| В связи с тем, что в зимнее время года системы автомобиля работают в сложных (экстремальных) условиях , необходимо заблаговременно подготовить двигатель автомобиля к с суровым зимним условиям эксплуатации.
				a.section-reviews__articles-link(href="./blog-zima.html")
					| Читать дальше

			article.section-reviews__articles-item
				a.section-reviews__articles-title(href="./blog-zashita.html")
					| Как защитить двигатель от износа
				p.section-reviews__articles-descr
					| Народная мудрость гласит: старый автомобиль – все равно, что молодая жена. Денег просит много, а уверенности ни в чем нет. Вот разве что удовольствия доставляет куда меньше!
				a.section-reviews__articles-link(href="./blog-zashita.html")
					| Читать дальше

		h3.section-reviews__title
			| Документы

		ul.section-reviews__docs
			li
				a(href="https://drive.google.com/file/d/1hVQYnyNozRP5d5eYNOhw-7GUFiPnwT_b/view?usp=sharing" target="_blank") Пользовательское соглашение
			li
				a(href="https://drive.google.com/file/d/0BymyT7Fe2zGWb3hpelAyMUtZQjQ/view?usp=sharing" target="_blank") Технические условия
			li
				a(href="https://drive.google.com/file/d/0BymyT7Fe2zGWU1NPM09wazNGbm8/view?usp=sharing" target="_blank") Сертификат соответствия
			li
				a(href="https://drive.google.com/file/d/18OwyocYVDCMtwSQ_V7f3TIZnd5tAAs6y/view?usp=sharing" target="_blank") Паспорт безопасности Fe-do порошок
			li
				a(href="https://drive.google.com/file/d/1xYJG7OrYSLaS9PwlD85dcGZT9Ju9wAD1/view?usp=sharing" target="_blank") Паспорт безопасности Fe-do суспеньзия-гель
			li
				a(href="https://drive.google.com/file/d/1QkX41iDFUyrz9BAVv4OYC-PCo7r70OUF/view?usp=sharing" target="_blank") Исследование эффективности Fe-do
