section.section-test#test
	.section-test__wrap
		h2.section-test__title
			| Результаты испытаний

		nav.section-test__nav
			.section-test__nav-column
				a.section-test__nav-item.section-test__nav-item--short.js--show-test-1-popup(href="#" style="background-image: url(static/img/section-test/bg-speed.jpg);")
					.section-test__nav-content
						span Испытание гоночного автомобиля
						img(src="static/img/section-test/fedo.svg")
				a.section-test__nav-item.js--show-test-2-popup(href="#" style="background-image: url(static/img/section-test/bg-reductor.jpg);")
					.section-test__nav-content
						img(src="static/img/section-test/gear.svg")
						span Испытание редуктора
			.section-test__nav-column
				a.section-test__nav-item.js--show-test-3-popup(href="#" style="background-image: url(static/img/section-test/bg-kran.jpg);")
					.section-test__nav-content
						img(src="static/img/section-test/hook.svg")
						span Испытание мостового крана
				a.section-test__nav-item.section-test__nav-item--short.js--show-test-4-popup(href="#" style="background-image: url(static/img/section-test/bg-auto.jpg);")
					.section-test__nav-content
						img(src="static/img/section-test/car.svg")
						span Опыт автопарка
			.section-test__nav-column.section-test__nav-column--slim
				a.section-test__nav-item.section-test__nav-item--short.js--show-test-5-popup(href="#" style="background-image: url(static/img/section-test/bg-lift-slim.jpg);")
					.section-test__nav-content
						span Испытание подъёмного механизма
				a.section-test__nav-item.js--show-test-6-popup(href="#" style="background-image: url(static/img/section-test/bg-train.jpg);")
					.section-test__nav-content
						img(src="static/img/section-test/train.svg")
						span Испытание ЖД транспорта
